.item {
    margin-bottom: 20px;
}

.completed {
    text-decoration: line-through;
}

.list {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    width:25%;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.add {
    font-size: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    width: 25%;
    padding: 0px 20px 20px 20px;
    text-align: center;
}

body {
    background-color: black;
    color: white;
}

.add input {
    display: block;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    font-size: 20px;
}

.item input {
    display:compact;
    margin: 0 auto;
    text-align: center;
}